{% extends 'base.html' %}
{% block content %}

<table class="table table-hover">
    <thead>
    <tr style="color:#0E2EB0">
        <th>Variable</th>
    </tr>
    </thead>
    <tbody>

{% for reserva in reserva_list %}

<tr>
    <td class="d-flex justify-content-between">
        {{ reserva.estudiante}}
       
    </td>
    <td class="d-flex justify-content-between">
        {{ reserva.mentor }}
       
    </td>
    <td class="d-flex justify-content-between">
        {{ reserva.tipo }}
       
    </td>
    <td class="d-flex justify-content-between">
        {{ reserva.fecha }}
       
    </td>
    <td class="d-flex justify-content-between">
        {{ reserva.id }}
       
    </td>
</tr> 

{% endfor %}
</tbody>
</table>

{% endblock %}