{% extends 'base.html' %}
{% block content %}
<table class="table table-hover">
    <thead>
    <tr style="color:#0E2EB0">
        <th>Reserva</th>
    </tr>
    </thead>
    <tbody>
    {% if reserva %}
    <tr>

        <th>Mentor</th>
    
        <th>Estudiante</th>
      </tr>
    <tr>
        <td>{{ reserva.mentor }}</td>
    
        <td>{{ reserva.estudiante }}</td>
    </tr>
    {% else %}
    <h1 class="error">Ocurre un error</h1>
        {% endif %}
    </tbody>
</table>


{% endblock %}